<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">Restablecer Contraseña</h1>
  <form id="reset-form" class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    <input type="hidden" id="token" value="{{token}}" />
    <input class="m-2 p-2 text-center w-100" type="password" name="newPassword" id="newPassword" placeholder="Nueva contraseña" required />
    <input class="m-2 p-2 text-center w-100" type="password" name="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña" required />
    <input class="m-2 p-2 text-center btn btn-success w-100" type="submit" value="Restablecer" />
  </form>
</main>
<script src="/scripts/reset-password.js"></script>
